@model ActivityClub.Models.Event

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "Create Event";
}

<h1>Create Event</h1>

<form asp-action="CreateEvent" method="post">
    <div class="form-group">
        <label asp-for="EventName"></label>
        <input asp-for="EventName" class="form-control" />
        <span asp-validation-for="EventName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventDes">Description</label>
        <textarea asp-for="EventDes" class="form-control"></textarea>
        <span asp-validation-for="EventDes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryLookup">Category</label>
        <input asp-for="CategoryLookup" class="form-control" />
        <span asp-validation-for="CategoryLookup" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Destination"></label>
        <input asp-for="Destination" class="form-control" />
        <span asp-validation-for="Destination" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateFrom">Date-From</label>
        <input asp-for="DateFrom" type="date" class="form-control" />
        <span asp-validation-for="DateFrom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateTo">Date-To</label>
        <input asp-for="DateTo" type="date" class="form-control" />
        <span asp-validation-for="DateTo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cost">Cost $</label>
        <input asp-for="Cost" class="form-control" />
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Stat">Status</label>
        <input asp-for="Stat" class="form-control" />
        <span asp-validation-for="Stat" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
