@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Activity Club Portal</title>
    <link rel="stylesheet" href="~/css/lp.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="/Home/Index" class="logo-link">
                <img src="/images/favicon.png" class="logo-image" />
                <div class="logo">Beirut Activity Club</div>
            </a>
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Account/Signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <section class="login">
        <div class="login-container">
            <h2>Login to Your Account</h2>
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="Email" required>
                </div>
                <div class="input-group password-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="Pass" required>
                    <span class="toggle-password fas fa-eye" toggle="#password"></span>
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
            <p>Don't have an account? <a href="/Account/Signup">Sign Up</a></p>
        </div>
    </section>

    <script src="~/js/lp.js"></script>
</body>
</html>
